<form action="/admin/add" method="POST">
  <div class="form-group">
    <label for="level">Level</label>
    <input type="text" class="form-control" id="level" name="level" placeholder="Level">
  </div>
  <div class="form-group">
    <label for="nameEn">Name</label>
    <input type="text" class="form-control" id="nameEn" name="nameEn" placeholder="English Name">
  </div>
   <div class="form-group">
    <label for="nameEn">Dam No</label>
    <input type="Number" class="form-control" id="damId" name="damId" placeholder="Dam No">
  </div>
  <div class="form-group">
    <label for="name">Tamil Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Tamil Name">
  </div>
  <div class="form-group">
    <label for="name">Date</label>
    <input type="date" class="form-control" id="date" name="date">
  </div>
  <div class="form-group">
    <label for="name">Inflow</label>
    <input type="number" class="form-control" id="inflow" name="inflow">
  </div>
  <div class="form-group">
    <label for="name">Outflow</label>
    <input type="number" class="form-control" id="outflow" name="outflow">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>